<h2>Editar Usuario</h2>
<form method="POST">
    <label for="nombre_usuario">Nombre de Usuario:</label><br>
    <input type="text" name="nombre_usuario" value="{{ usuario.nombre_usuario }}" required><br>

    <label for="role">Rol:</label><br>
    <select name="role">
        <option value="empleado" {% if usuario.role == 'empleado' %}selected{% endif %}>Empleado</option>
        <option value="jefe" {% if usuario.role == 'jefe' %}selected{% endif %}>Jefe</option>
    </select><br>

    <label for="nueva_contraseña">Nueva Contraseña (opcional):</label><br>
    <input type="password" name="nueva_contraseña"><br><br>

    <input type="submit" value="Guardar Cambios">
</form>
